.App {
  display: flex;
  text-align: center;
  margin: 20px;
  align-items: center;
  width: 40%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ItemInputForm {
  color: blue;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #ffffcc;

  width: auto;
  height: 25px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffcc;
  padding: 20px;

}


.button {
  width: auto;
}


table, tr {
  border: 4px solid gray;
  background-color: white;
}

ul {
  list-style: none;
}

.room_items {
  vertical-align: top;
}
